@page
<div class="container">
    <div class="row">
        <div class="col-4">
            Total View

            <span id="totalViewsCounter">
            </span>
        </div>
        <div class="col-4">
            Total User

            <span id="totalUsersCounter">
            </span>
        </div>
    </div>
</div>

<script src="~/js/signalr.js">
</script>
<script src="~/js/usersCount.js"/>